injected/
pull_secret.json
auth/
.openshift_install_state.json
.openshift_install.log
install-config.yaml
install-config.ansible.yaml
*.ign
.terraform.d/
.aws/
terraform.tfstate
terraform.tfvars
tls/
metadata.json
