baseDomain: {{ lookup('env', "BASE_DOMAIN") }}
clusterID: {{ 99999999 | random | to_uuid }}
machines:
- name: master
  platform: {}
  replicas: 3
- name: worker
  platform: {}
  replicas: 3
metadata:
  name: {{ lookup('env', "USERNAME") }}
networking:
  clusterNetworks:
  - cidr:             10.128.0.0/14
    hostSubnetLength: 9
  serviceCIDR: 172.30.0.0/16
  type:        OpenshiftSDN
platform:
  libvirt:
    URI: qemu+tcp://192.168.122.1/system
    defaultMachinePlatform:
      image: file:///unused
    masterIPs: null
    network:
      if: tt0
      ipRange: 192.168.126.0/24
pullSecret: |
  {{ lookup('file', "pull_secret.json") | indent(2) }}
sshKey: ""
